.res__worker{
    align-items: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

}

.res__cust{
    align-items: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

}